#ssmailing_table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top:10px;
    position:relative;
    right: 14%;
    top:25px;
}

#available_cats {
  position:relative;
  right:14%;
}
.cat_selection{
  margin-right:20px;
}
.cat_name{
  margin-right:13px;
}

#ssmailing_table td, #ssmailing_table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#ssmailing_table tr:nth-child(even){background-color: #f2f2f2;}

#ssmailing_table tr:hover {background-color: #ddd;}

#ssmailing_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #D02422;
    color: white;
}

#list_categories{
    position: relative;
    right: 222px;
    margin-top: -7px;
}

#available_cats strong {
	font-size:22px;
}
.selection_input{
	float: left;
    width: 200px;
    font-size: 12px;
    margin: 4px;	
}

